@charset "utf-8";
body{font-size:63%;font-family:'宋体';margin: 0;padding: 0; position:relative;background:#fbfdf7;}
html, body, div, p,span, a, table, textarea, form, input, img, ul, li,dd,dl,dt {margin: 0;padding: 0;}
li{list-style:none;text-indent:0;}
a{color:#666;}
a:visited,a:active,a:link {text-decoration: none; color:inherit}
a:hover {text-decoration: underline;}
td,th {font-size: 1.2em;}
.left,.l_b{float:left}
.right,.r_b{float:right}
.more{color:#FFF}
a.more:visited,a.more:active,a.more:link {color:#FFF}
.more2{color:#666}
a.more2:visited,a.more2:active,a.more2:link {color:#666}
img {border:0px}
h1, h2, h3, h4, h5, h6, b, i, em {font-style: normal;margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-family:'Microsoft YaHei';}
.area:after,.clear:after,.con:after,menu_body:after{content:"";display:block;visibility:hidden;height:0;clear:both;}
.area{margin-left:auto;margin-right:auto; max-width:320px; min-width:240px;}
.clear,.area,.con,.menu_body{zoom:1;}
.clearfix:after {content: ""; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;}
.center{margin-left:auto;margin-right:auto;text-align:center}
/******************************/
.bt5{margin-bottom:5px}
.bt10{margin-bottom:10px}
.bt15{margin-bottom:15px}
.bt20{margin-bottom:20px}
.bt30{margin-bottom:30px}
.bt35{margin-bottom:35px}

.pd0-10{padding:0 10px;}
.pd0-15{padding:0 15px;}
.pd5-0{padding:5px 0;}
.pd5-10{padding:5px 10px;}
.pd5-15{padding:5px 15px;}

.pd5{padding:5px;}
.pd10{padding:10px;}
.pd15{padding:15px;}
.pd20{padding:20px;}

.pd10-0{padding:10px 0;}
.pd10-5{padding:10px 5px;}
.pd10-15{padding:10px 15px;}
.pd10-20{padding:10px 20px;}

/***************** header ***********************/
#header{height:75px;border-top:4px solid #6c9b22}
.top-box{ position:relative;}
.top-box .logo{display:inline-table;text-align:center; width:100%;height:73px; line-height:72px;}
.top-box .logo a{ display:block; text-align:center;}
.top-box img{vertical-align:top;}
@media screen and (max-width: 320px){
.top-box .logo img{ width:90%;}
}
/***************** phone-box ***********************/
.phone-box{font-size:2.4em; font-weight:bold;line-height:50px;text-align:center; color:#FFF;background:url(../images/tel-bg.gif) repeat-x;font-family:'microsoft yahei';}
.phone-title{ line-height:15px;}
/***************** nav-box ***********************/
.nav-box{ font-size:1.4em;padding-bottom:6px;padding:6px 1%;}
.nav-box span{ display:block; float:left;  width:48%;margin:1%; text-align:center; line-height:34px; height:34px; color:#fff; overflow:hidden;}
.nav-box span.last{ width:98%;}
.nav-box a{font-weight:bold;display:block; margin:0 auto;background-color:#6c9b22;}
/***************** focus-box ***********************/
.focus-a{ position:relative; width:70%; overflow:hidden;}
.focus-b{ position:relative; width:28%;}
.focus-b .p-a{ padding:3px 0;}

.m-linklist{font-size:1.2em;border-top:1px solid #e2edcc;background:#fbfdf7 url(../images/line2.gif) center repeat-y;}
.m-linklist li{float:left;border-bottom:1px solid #e2edcc;text-align:center;}
.m-linklist2{font-size:1.2em;padding-top:5px;}
.m-linklist2 li{float:left;text-align:left;}
.m-linklist2 a{display:block;padding-left:14px;margin:0 5px 5px 5px;line-height:32px;border:1px solid #e2edcc;color:#6c9b22;}
/***************** main-box ***********************/
.main-box .title,
.sub-box .title{ position:relative;}
.main-box .title .text,
.sub-box .title .text{display:block; float:left;text-align:center;font-weight:bold;}
.title a.more,
.tab .tabtitle .tabbtn a.more,
.tab-case-title a.more{ position:absolute; right:6px; top:0px; display:block;font-size:12px;color:#FFF; font-weight:normal;z-index:1;}
.tab .tabtitle .tabcur a.more{z-index:5;}
/***************** news-ul ***********************/
.news-ul li{ height:36px; line-height:36px; border-bottom:1px solid #eee;}
.news-ul li a{ display:block; padding:0 7%; width:86%; height:100%; font-size:1.2em; color:#666; background:url(../images/news-li-bit.gif) 10px center no-repeat;  overflow:hidden;}
/***************** tab ***********************/
.tab .tabtitle{ position:relative;color:#666; border:0; height:38px;}
.tab .tabtitle:after{content: ""; display: block; height: 0; clear: both; visibility: hidden;}
.tab .tabtitle .tabbtn{display:inline-block;height:40px; line-height:40px; cursor:pointer; font-family:'宋体';}
.tab .tabtitle .tabbtn span{ padding:0 10px;text-align:center}
.tab .tabtitle .tabcur{ font-weight:bold;}
.tab .tabtitle .tabcur span{}
/***************** con ***********************/
.con .img{ display:block; padding:1px; width:90%; height:107px; border:1px solid #f2efef;}
.con .img img{ width:100%; height:100%;}
.main-box .con p{ padding:10px; line-height:24px; font-size:1.2em; color:#333;}
.main-box .con p a{ color:#9c6f16;}
/***************** nav-class ***********************/
.nav-class-ul li{ float:left; width:33.3%; font-family:"宋体";}
.nav-class-ul li a{ display:block; margin:0 auto 5px auto; width:94%; height:34px; line-height:34px; text-align:center; color:#6c9b22;border:1px solid #6c9b22; font-size:1.2em; background:#FFF; overflow:hidden;}
.nav-class-ul li a.current, .nav-class-ul li a:hover,.nav-class-ul li a:active{color:#6c9b22;text-decoration:none;}
.nav-class-ul li.last{ width:100%;}
.nav-class-ul li.last a{ width:98%;}
.nav-class-ul li.more a{ color:#1c85c2;}

.nav-class-ul.nav-x2 li{width:50%}
/***************** photo_list ***********************/
.photo_list{} 
.photo_list li{width:auto;margin:8px 0;float:left;width:50%;}
.photo_list li a{ color:#FFF;}
.photo_list li .pro_full{width:90%;margin:0 auto;height:100px;}
.photo_list li .pro_full img{height:100px;width:142px;}
.photo_list li .pro_name{padding:5px 0;width:90%;font-size:1.2em;line-height:1.6;margin-left:auto;margin-right:auto;text-align:center; color:#333;}
.photo_list li .pro_num{display:none;width:89%;margin-left:5%;margin-right:5%;font-size:1.2em;line-height:1.6;margin-left:auto;margin-right:auto;}
.photo_list li .pro_mid img{max-height:80px;max-width:94px;}
.photo_list .box{text-align:center;overflow:hidden;border:1px solid #ccc;}
/***************** srollTop-box ***********************/
.srollTop-box{ display:none;}
.srollTop-box a{ display:block; margin:0 auto; width:100%; height:35px; line-height:35px; color:#6c9b22; font-size:1.2em; text-align:left; background:url(../images/back-top.gif) center center no-repeat;text-indent:123px;text-decoration:none}
/***************** footer-box ***********************/
#footer{height: 49px;}

.footer-box {position:relative;text-align: center;z-index: 4000;text-align: center;}
.footer-box ul li{float: left; width:25%;}
.footer-box ul li.last{ background:none;}
.footer-box .icon{height: 48px; width:100%; display:block;}
.footer-box .ft-ico{height:48px;}
.footer-box .tel{background:url(../images/tel.png) center center no-repeat;}
.footer-box .map{background:url(../images/map.png) center center no-repeat;}
.footer-box .sms{background:url(../images/sms.png) center center no-repeat;}
.footer-box .board{background:url(../images/board.png) center center no-repeat;}

/***************** sub-box ***********************/
.sub-box .title{ margin-top:10px;}
.sub-box .title a.back{ position:absolute; right:10px; top:10px; display:block; width:40px; height:20px; line-height:20px; text-align:center; color:#6C9B22; font-size:1em; font-family:'宋体'; background:#fff; border-radius:5px;}
/***************** case-ul ***********************/
.item-ul{}
.item-ul li{float:left;background:url(../images/item-li-bg.gif) right bottom no-repeat;width:44%;padding:0 2% 0 4%;padding-bottom:9px;}
.item-ul li a{background:#cc0001;color:#FFF;font-size:1.4em;display:block;padding:5px 0;font-family:'Microsoft YaHei';text-align:center;}
/***************** case-ul ***********************/
.case-ul li{ padding:10px 0 8px 0; border-bottom:1px solid #eee;}
.case-ul li:after{content: ""; display: block; height: 0; clear: both; visibility: hidden;}
.case-ul li img{ float:left;width:30%; min-height:100px;padding:2px;border:1px solid #feeffa}
.case-ul li h4{ color:#6c9b22; font-size:1.2em; padding:5px 0;text-align:left;}
.case-ul li p.appellation{font-size:1.2em; text-align:left; line-height:22px; color:#999;}
.case-ul li p.introduce{height:66px;overflow:hidden;font-size:1.2em; text-align:left; line-height:22px; color:#666;}
.case-ul li .rt-box{width:65%;}
/***************** title-box ***********************/
.title-box{text-align:center;color:#0082bc;position:relative;padding:5% 0;border-bottom:2px solid #0082bc}
.title-box .back-btn{float:right; margin-right:10px; background:#0082bc;width:66px;font-size:1.2em;line-height:1.6;margin-top:1%;text-align:center;color:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px; }
.title-box h2{font-size:2em;}

.sub-box .title_list{padding:8px 0;}
.sub-box .title_list li{margin-left:5px;float:left;background:#20a1da;padding:5px 10px;text-align: center;overflow:hidden;font-size:1.2em;}
.sub-box .title_list li a{color: #fff;display:block}
.sub-box .title_list li.select{background:#0082bc;color:#fff}
.sub-box .title_list li.select a{color:#fff}
.sub-box .title_list li:after{content:" ";display:block;visibility:hidden;height:0;clear:both;}
.sub-box .title_list li{zoom:1; width:48%;margin:1%;padding:5px 0;}
.sub-box .content{padding:10px;font-size:1.2em;line-height:1.6;  }
.sub-box .content img{ max-width:100%;}
.sub-box .content h1{font-size:1.6em;text-align:center;font-family:'Microsoft YaHei';margin-bottom:10px;font-weight:bold}


.m-h2cnlist{font-size:1.2em;}
.m-h2cnlist li{padding:15px 10px;border-bottom:1px solid #e2edcc;}
.m-h2cnlist h2{color:#6c9b22;font-size:1.2em;}
.m-h2cnlist .cn{line-height:24px;}
/***************** paging ***********************/
.sub-more{padding:.4em 0;margin-bottom:.4em;text-align:center;line-height:2;font-size:1.8em;color:#666;font-family:'Microsoft YaHei';}
.sub-more a{display:block;border: 1px solid #CCC;background: #EEE;font-weight: bold;color: #555;
text-shadow: 0 1px 0 white;-webkit-border-radius: .6em;border-radius: .6em;
background-image: -webkit-gradient(linear,left top,left bottom,from( white ),to( #F1F1F1 ));
background-image: -webkit-linear-gradient( white,#F1F1F1 );
background-image: -moz-linear-gradient( white,#F1F1F1 );
background-image: -ms-linear-gradient( white,#F1F1F1 );
background-image: -o-linear-gradient( white,#F1F1F1 );
background-image: linear-gradient( white,#F1F1F1 );}
.sub-more .no-more{}

/*pifu*/
.title-2{border-top:1px solid #f1e1c6;border-bottom:1px solid #f1e1c6;height:39px;line-height:38px;font-size:1.8em;font-weight:bold;text-align:center;color:#d00e73;font-family:'Microsoft YaHei';background-image:-webkit-gradient(linear,left top,left bottom,from( #f9f3ee ),to( #efe1c3 ));background-image:-webkit-linear-gradient( #f9f3ee,#efe1c3 );background-image:-moz-linear-gradient( #f9f3ee,#efe1c3 );background-image:-ms-linear-gradient( #f9f3ee,#efe1c3 );background-image:-o-linear-gradient( #f9f3ee,#efe1c3 );background-image:linear-gradient( #f9f3ee,#efe1c3 )}

.title{height:40px;line-height:40px;font-size:16px;color:#FFF;background:url(../images/tel-bg.gif) repeat-x;}
.photo_list2 li .pro_full,.photo_list2 li .pro_full img{height:150px;}
.title a.more,.tab .tabtitle .tabbtn a.more,.tab-case-title a.more{color:#FFF}
.title .text{padding-left:15px;}
#footer{border-top:1px solid #f2e3cb;background-color:#6c9b22}
.nav-class-ul li a.current,
.nav-class-ul li a:hover,
.nav-class-ul li a:active{background:#6c9b22;color:#FFF;}
.nav-box{}
.case-ul .btn a.btn-1{margin-right:10px;height:24px;line-height:24px;font-size:1.4em;color:#d21c79;padding:0px 10px;display:block;float:left}

.project a{display:block;width:150px;text-align:center;color:#333;float:left;margin:10px 5px;font-size:1.2em;}
.project a img{padding-bottom:5px;}
.project a.p4{padding:25px 0;font-size:2em;color:#bc019c;font-weight:bold;font-family:'Microsoft YaHei';}

#footer ul li{}
.tab .tabtitle{height:40px;line-height:40px;font-size:16px;color:#FFF;background:url(../images/tel-bg.gif) repeat-x;}
.tab .tabtitle .tabcur{background:url(../images/tab-bg.png) 0 -38px repeat-x;}
.title .text,
.title .text a,
.tab .tabtitle .tabbtn{color:#FFF;font-family:'Microsoft YaHei';}



.tel-bg{background:#009be1;font-size:1.4em;color:#FFF;text-align:center;height:40px;line-height:39px;font-family:'Microsoft YaHei'; vertical-align:middle}
.tel-bg span{font-size:1.6em;font-weight:bold}

.focus-box{height:140px;padding:1px 0;border-top:1px solid #f1e2d7;border-bottom:1px solid #f1e2d7}
.swiper-free, .swiper-free .swiper-slide{ height:140px;}
.case-ul .btn a.btn-1{border:1px solid #e7e3e0;background-image:-webkit-gradient(linear,left top,left bottom,from( #f5f5f5 ),to( #d1d1d1 ));background-image:-webkit-linear-gradient( #f5f5f5,#d1d1d1 );background-image:-moz-linear-gradient( #f5f5f5,#d1d1d1 );background-image:-ms-linear-gradient( #f5f5f5,#d1d1d1 );background-image:-o-linear-gradient( #f5f5f5,#d1d1d1 );background-image:linear-gradient( #f5f5f5,#d1d1d1 );}

/**/
.color-red .nav-box span,
.color-red #footer,
.color-red .case-ul li .btn,
.color-red .nav-class-ul li a.current,
.color-red .nav-class-ul li a:hover,
.color-red .nav-class-ul li a:active{background:#B72E22;}
.color-red .nav-box a,
.color-red #footer ul li{background:url(../images/footer-bg.png) right center no-repeat;}
.color-red .title,
.color-red .tab .tabtitle{background:url(../images/title-bg.png) left center no-repeat;}
.color-red .title .text,.color-red .tab .tabtitle .tabbtn,.color-red .case-ul li h4 span{color:#b72e22;}

.color-red .paging li.line,.color-red .paging ul li.select{border:1px solid #B72E22}
.color-red .paging li.select a,.color-red .paging ul:hover a{background:#B72E22; color:#fff;}
.color-red .paging li.no,.color-red .paging ul.no:hover{border:1px solid #999}
.color-red .paging li.no a,.color-red .paging ul li.no a:hover{background:#fff; color:#777;}

.color-green .nav-box span,
.color-green #footer,
.color-green .case-ul li .btn,
.color-green .nav-class-ul li a.current,
.color-green .nav-class-ul li a:hover,
.color-green .nav-class-ul li a:active{background:#086A1E;}
.color-green .nav-box a,
.color-green #footer ul li{background:url(../images/footer-bg.png) right center no-repeat;}
.color-green .title,
.color-green .tab .tabtitle{background:url(../images/title-bg.png) left center no-repeat;}
.color-green .title .text,.color-green .tab .tabtitle .tabbtn,.color-green .case-ul li h4 span{color:#086A1E;}

.color-green .paging li.line,.color-green .paging ul li.select{border:1px solid #086A1E}
.color-green .paging li.select a,.color-green .paging ul:hover a{background:#086A1E; color:#fff;}
.color-green .paging li.no,.color-green .paging ul.no:hover{border:1px solid #999}
.color-green .paging li.no a,.color-green .paging ul li.no a:hover{ background:#fff; color:#777;}

.color-black .nav-box span,
.color-black #footer,
.color-black .case-ul li .btn,
.color-black .nav-class-ul li a.current,
.color-black .nav-class-ul li a:hover,
.color-black .nav-class-ul li a:active{background:#2A2A2A;}
.color-black .nav-box a,
.color-black #footer ul li{background:url(../images/footer-bg.png) right center no-repeat;}
.color-black .title,
.color-black .tab .tabtitle{background:url(../images/title-bg.png) left center no-repeat;}
.color-black .title .text,.color-black .tab .tabtitle .tabbtn,.color-black .case-ul li h4 span{color:#2A2A2A;}

.color-black .paging li.line,.color-black .paging ul li.select{border:1px solid #000}
.color-black .paging li.select a,.color-black .paging ul li:hover a{background:#2A2A2A; color:#fff;}
.color-black .paging li.no,.color-black .paging ul li.no:hover{border:1px solid #999}
.color-black .paging li.no a,.color-black .paging ul li.no a:hover{ background:#fff; color:#777;}

.color-blue .nav-box span,
.color-blue #footer,
.color-blue .case-ul li .btn,
.color-blue .nav-class-ul li a.current,
.color-blue .nav-class-ul li a:hover,
.color-blue .nav-class-ul li a:active{background:#1680DC;}
.color-blue .nav-box a,
.color-blue #footer ul li{background:url(../images/footer-bg.png) right center no-repeat;}
.color-blue .title,
.color-blue .tab .tabtitle{background:url(../images/title-bg.png) left center no-repeat;}
.color-blue .title .text,.color-blue .tab .tabtitle .tabbtn,.color-blue .case-ul li h4 span{color:#1680DC;}

.color-blue .paging li.line,.color-blue .paging ul li.select{border:1px solid #1680DC}
.color-blue .paging li.select a,.color-blue .paging ul:hover a{background:#1680DC; color:#fff;}
.color-blue .paging li.no,.color-blue .paging ul.no:hover{border:1px solid #999}
.color-blue .paging li.no a,.color-blue .paging ul li.no a:hover{ background:#fff; color:#777;}

.color-yellow .nav-box span,
.color-yellow #footer,
.color-yellow .case-ul li .btn,
.color-yellow .nav-class-ul li a.current,
.color-yellow .nav-class-ul li a:hover,
.color-yellow .nav-class-ul li a:active{background:#DDB22F;}
.color-yellow .nav-box a,
.color-yellow #footer ul li{background:url(../images/footer-bg.png) right center no-repeat;}
.color-yellow .title,
.color-yellow .tab .tabtitle{background:url(../images/title-bg.png) left center no-repeat;}
.color-yellow .title .text,.color-yellow .tab .tabtitle .tabbtn,.color-yellow .case-ul li h4 span{color:#DDB22F;}

.color-yellow .paging li.line,.color-yellow .paging ul li.select{border:1px solid #DDB22F}
.color-yellow .paging li.select a,.color-yellow .paging ul:hover a{background:#DDB22F; color:#fff;}
.color-yellow .paging li.no,.color-yellow .paging ul.no:hover{border:1px solid #999}
.color-yellow .paging li.no a,.color-yellow .paging ul li.no a:hover{ background:#fff; color:#777;}
/* Swiper Styles */
.focus-box{overflow:hidden;}
.swiper-free, .swiper-free .swiper-slide {width:100%;}
.swiper-slide {float: left; position:relative;}
.swiper-slide img{ width:100%; height:100%;}
.swiper-container {margin:0 auto;position:relative;overflow:hidden;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.swiper-wrapper {position:relative;width:100%;-webkit-transition-property:-webkit-transform, left, top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform, left, top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform, left, top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform, left, top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform, left, top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease; }
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {-ms-touch-action: pan-y;}
.swiper-wp8-vertical {-ms-touch-action: pan-x;}
/* Specify Swiper's Size: */
.arrow-left{ position:absolute; left:5px; top:50%; margin-top:-26px; background:url(../images/bg_direction_nav.png) 0 0 no-repeat; width:52px; height:52px; z-index:999;}
.arrow-right{ position:absolute; right:5px; top:50%; margin-top:-26px; background:url(../images/bg_direction_nav.png) -52px 0 no-repeat; width:52px; height:52px; z-index:999;}
/* Pagination */
.pagination-free{display:none;position:absolute; bottom:5px;left:0; z-index:999; text-align:center; width:100%;}
.pagination-bg{ position:absolute; bottom:0; left:0; width:100%; height:22px; filter:alpha(opacity=50);opacity: 0.5;-moz-opacity:0.5;-khtml-opacity: 0.5; background:#000;z-index:998;}
.pagination-text{position:absolute; bottom:0; left:0; padding-left:10px; height:30px; line-height:30px; color:#fff; font-size:1.2em;}
.pagination-free .swiper-pagination-switch {display:inline-block;width:10px;height:10px;background:#fff; margin:0 3px;cursor: pointer;border-radius:5px}
.pagination-free .swiper-active-switch {background: #ae0000;}
